// Variables
$primary-color: #9E7F66;
$primary-black-color: #111111;
$white-color: #fff;
$secondary-color: #17192B;
$secondary-black-color: #242B37;
$secondary-gray-color: #5C6779;

// bcg style
$white-bg-color: #fff;
$black-bg-color: #000;

// Site fonts
$site-fonts: 'League Spartan',"Arial", sans-serif;